USE [buchwaldshave34_dk_db]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 01-10-2018 13:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentNames]    Script Date: 01-10-2018 13:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentNames](
	[StudentNameID] [int] IDENTITY(1,1) NOT NULL,
	[StudentFirstAndLastName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.StudentNames] PRIMARY KEY CLUSTERED 
(
	[StudentNameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StudentNames] ON 

INSERT [dbo].[StudentNames] ([StudentNameID], [StudentFirstAndLastName]) VALUES (1, N'Ændret Elev Navn')
INSERT [dbo].[StudentNames] ([StudentNameID], [StudentFirstAndLastName]) VALUES (2, N'Mathias Græshold')
INSERT [dbo].[StudentNames] ([StudentNameID], [StudentFirstAndLastName]) VALUES (3, N'Malthe Stilling Sørensen')
SET IDENTITY_INSERT [dbo].[StudentNames] OFF
